<?xml version="1.0"?>
<Container version="2">
  <Name>napcat</Name>
  <Repository>docker.m.daocloud.io/mlikiowa/napcat-docker:latest</Repository>
  <Registry>https://github.com/NapNeko/NapCatQQ</Registry>
  <Network>bridge</Network>
  <MyIP/>
  <Shell>sh</Shell>
  <Privileged>false</Privileged>
  <Support>https://github.com/NapNeko/NapCatQQ</Support>
  <Project>https://github.com/NapNeko/NapCatQQ</Project>
  <Overview>NapCatQQ OneBot endpoint example for IronsBot.</Overview>
  <Category>Tools:Utilities</Category>
  <WebUI>http://[IP]:[PORT:6099]/webui</WebUI>
  <TemplateURL>https://raw.githubusercontent.com/Murmansk5000/IronsBot/main/unraid/examples/napcat.xml.example</TemplateURL>
  <Icon/>
  <ExtraParams/>
  <PostArgs/>
  <CPUset/>
  <DateInstalled/>
  <DonateText/>
  <DonateLink/>
  <Requires/>

  <Config Name="WebUI Port" Target="6099" Default="6099" Mode="tcp" Description="NapCat WebUI port." Type="Port" Display="always" Required="true" Mask="false">6099</Config>
  <Config Name="NapCat Config" Target="/app/napcat/config" Default="/mnt/user/appdata/ironsbot/napcat/config" Mode="rw" Description="NapCat config directory." Type="Path" Display="always" Required="true" Mask="false">/mnt/user/appdata/ironsbot/napcat/config</Config>
  <Config Name="NTQQ Data" Target="/app/.config/QQ" Default="/mnt/user/appdata/ironsbot/ntqq" Mode="rw" Description="QQ login data directory." Type="Path" Display="always" Required="true" Mask="false">/mnt/user/appdata/ironsbot/ntqq</Config>

  <Config Name="NapCat UID" Target="NAPCAT_UID" Default="99" Mode="" Description="Unraid nobody user id." Type="Variable" Display="advanced" Required="false" Mask="false">99</Config>
  <Config Name="NapCat GID" Target="NAPCAT_GID" Default="100" Mode="" Description="Unraid users group id." Type="Variable" Display="advanced" Required="false" Mask="false">100</Config>
  <Config Name="NapCat Web Token" Target="NAPCAT_WEB_TOKEN" Default="" Mode="" Description="NapCat WebUI token." Type="Variable" Display="always" Required="true" Mask="true"/>
  <Config Name="Disable GPU" Target="ELECTRON_DISABLE_GPU" Default="true" Mode="" Description="Disable Electron GPU acceleration." Type="Variable" Display="advanced" Required="false" Mask="false">true</Config>
  <Config Name="Reverse WebSocket URL" Target="NAPCAT_REVERSE_WS_POST" Default="ws://ironsbot:8080/onebot/v11/ws" Mode="" Description="Reverse WebSocket endpoint for IronsBot." Type="Variable" Display="always" Required="true" Mask="false">ws://ironsbot:8080/onebot/v11/ws</Config>
  <Config Name="Reverse WebSocket Token" Target="NAPCAT_REVERSE_WS_TOKEN" Default="" Mode="" Description="OneBot token; must match IronsBot ONEBOT_ACCESS_TOKEN." Type="Variable" Display="always" Required="true" Mask="true"/>
</Container>
